<h1 class="display-6">Récapitulatif :</h1>

<div class=container>
    <ul class="list-group"></ul>
    <li class="list-group-item">{{user.civilite}} {{user.nom}} {{user.prenom}}</li>
    <li class="list-group-item">{{user.adresse}} {{user.cp}} {{user.ville}} {{user.pays}}</li>
    <li class="list-group-item">Téléphone: {{user.tel}}</li>
    <li class="list-group-item">Email: {{user.email}}</li>
    <li class="list-group-item">Login: {{user.login}}</li>
    <li class="list-group-item">Password: {{user.password}}</li>
</div>